/* ---------- FONTS ----------- */

@font-face {
    font-family: 'Effra';
    src: url('./../font/effra.woff2') format('woff2'),
         url('./../font/effra.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Effra';
    src: url('./../font/effra_bold.woff2') format('woff2'),
         url('./../font/effra_bold.woff') format('woff');
    font-weight: bold;
    font-style: bold;
}

/* ---------- GLOBAL ---------- */

img[alt*=webhost] {
	display:none;   
}

html, body {
	height: 100%;
	min-width: 320px
}

body {
	font-family: 'Effra';
	font-size: 16px;
	line-height: 1.3;
	color: #FFF;
	background-color: #FFF;
	letter-spacing: 0.05em;
	background-color: #005081;
}

input:focus {
    outline: none;
}

.wrapper {
	width: 100%;
	max-width: 1366px;
	margin: 0 auto;
}

br.clear {
	clear: both;
	height: 0;
	width: 0;
	visibility: hidden;
}

* {
	box-sizing: border-box;
}

h1, h2, h3 {
	margin: 0;
}

/* ---------- TRANSIÇÕES ---------- */

*, *:after, *:before {

	-webkit-transition: all 0.3s ease;                  
    -moz-transition: all 0.3s ease;                 
    -o-transition: all 0.3s ease;   
    -ms-transition: all 0.3s ease;          
    transition: all 0.3s ease;

}

/* ---------- HEADER ---------- */

#hero {
	position: relative;
	width: 100%;
	overflow: hidden;
}

#video {
  min-width: 100%; 
  min-height: 100%; 

  width: auto;
  height: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  z-index: -1;

  background: linear-gradient(135deg, #000000 0%, #005081 100%), #005081;
}

#hero .overlay {
	content: '';
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: linear-gradient(135deg, #000000 0%, #005081 100%), #005081;
	opacity: 0.5;
}

#nav {
	width: 100%;
	padding: 40px;
}

#nav .logo {
	display: block;
	float: left;
	width: 143px;
	height: 24px;
	text-indent: -999999px;
	background-image: url(./../img/logo_grupo_zap.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#nav .mobile {
	display: block;
	float: right;
	width: 24px;
	height: 24px;
	text-indent: -999999px;
	background-image: url(./../img/icon_menu_white.svg);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#nav .menu {
	float: right;
	list-style: none;
	width: calc(100% - 183px);
	margin: 0;
	padding: 0;
}

#nav .menu li {
	float: left;
	margin: 0;
	margin: 0;
	padding: 0 10px;
	width: 25%;
	text-align: center;
}

#nav .menu li a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px; 
}

#nav .menu li a:after {
	content: '';
	display: block;
	border-bottom: solid 2px #FFF;
	width: 0;
	margin: 0 auto;
}

#nav .menu li a:hover {
	color: #C8D419;
}

#nav .menu li a:hover:after {
	width: 40px;
}

#hero .box {
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 80px 80px 120px;
}

#hero h1 {
	font-weight: bold;
	font-size: 48px;
	line-height: 100%;
	color: #C8D419;
	max-width: 520px;
	margin: 0 auto;
}

#hero .button {
	display: inline-block;
	border: 2px solid #FFFFFF;
	border-radius: 100px;
	color: #C8D419;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 19px 60px 17px;
	margin: 30px 0;
}

#hero .box .button:after {
	content: '';
	display: block;
	width: 24px;
	height: 24px;
	background-size: contain;
	background-image: url(./../img/icon_right_green.svg);
	background-repeat: no-repeat;
	float: right;
	margin-left: 20px;
	margin-top: -4px;
}

#hero .box .button:hover {
	background-color: rgba(255, 255, 255, 0.2)
}

/* INICIATIVAS */

#iniciativas {
	background: linear-gradient(90deg, #00A591 0%, #00A591 50%, #FFF 50%, #FFF 100%), #FFF;
}

#iniciativas .box {
	width: 50%;
	float: left;
	padding: 80px;
	background-color: #FFF;
}

#iniciativas .box.externas {
	background-color: #00A591;
}

#iniciativas h2 {
	font-weight: bold;
	font-size: 48px;
	line-height: 100%;
	color: #C8D419;
}

#iniciativas p {
	font-size: 16px;
	line-height: 24px;
	margin: 20px 0 30px;
}

#iniciativas .externas p {
	color: #fff;
}

#iniciativas .internas p {
	color: #6D767A;
}

#iniciativas .button {
	display: inline-block;
	border-radius: 100px;
	height: 60px;
	padding: 0 60px;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	text-decoration: none;
	text-transform: uppercase;
	padding-top: 20px;
}

#iniciativas .button:after {
	content: '';
	display: block;
	width: 24px;
	height: 24px;
	background-size: contain;
	background-repeat: no-repeat;
	float: right;
	margin-left: 20px;
	margin-top: -4px;
}

#iniciativas .externas .button {
	border: 2px solid #FFFFFF;
	color: #FFF;
}

#iniciativas .internas .button {
	border: 2px solid #6D767A;
	color: #6d767a;
}

#iniciativas .externas .button:after {
	background-image: url(./../img/icon_right_white.svg);
}

#iniciativas .externas .button:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

#iniciativas .internas .button:after {
	background-image: url(./../img/icon_right_gray.svg);
}

#iniciativas .internas .button:hover {
	background-color: rgba(109, 118, 122, 0.2);
}

/* ----- */

#footer {
	background-color: #005081;
	padding: 50px 30px 20px;
	color: #FFF;
	text-align: center;
}

#footer h3 {
	font-size: 18px;
	color: #FFF;
}

#footer .button {
	border: 1px solid #FFFFFF;
	border-radius: 100px;
	color: #C8D419;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 14px 50px 13px;
	display: inline-block;
	margin: 30px 0;
}

#footer .button:hover {
	background-color: rgba(255, 255, 255, 0.2)
}

#footer .copyright {
	font-size: 12px;
	color: #D0D0D0;
}

/* VIEWS */

.view {
	background-color: #FFF;
	border-radius: 10px;
}
.view .container {
	width: 100%;
	background-color: #FFF;
	border-radius: 4px;
}
.view .container .header {
	padding: 30px;
}

.view .container .header .back {
	display: block;
	float: left;
	width: 24px;
	height: 24px;
	background-size: contain;
	background-image: url(./../img/icon_back.svg);
	background-repeat: no-repeat;
	margin-right: 30px;
}

.view .container .header .close {
	display: block;
	float: right;
	width: 24px;
	height: 24px;
	background-size: contain;
	background-image: url(./../img/icon_close_gray.svg);
	background-repeat: no-repeat;
}

.view .container .header .menu {
	display: block;
	float: right;
	width: 24px;
	height: 24px;
	background-size: contain;
	background-image: url(./../img/icon_menu_gray.svg);
	background-repeat: no-repeat;
}

.view .container .header h2 {
	font-size: 24px;
	line-height: 24px;
	color: #6D767A;
	float: left;
	font-weight: 400;
}

.view .container .content {
	padding: 30px;
}

.view .container .content .links {
	list-style: none;
	padding: 0;
	margin: 30px;
}

.view .container .content .links li {
	margin: 15px 0;
}

.view .container .content .links li a {
	font-size: 12px;
	text-transform: uppercase;
	color: #6D767A;
	text-decoration: none;
}

.view .container .content .links a:before {
	content: '';
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.view .container .content .links a.reset:before { background-image: url(./../img/mini_icon_reset.svg); }
.view .container .content .links a.back:before { background-image: url(./../img/mini_icon_back.svg); }
.view .container .content .links a.link:before { background-image: url(./../img/mini_icon_link.svg); }

#regras {
	max-width: 640px;
}

#regras .qa {
	border: 1px solid #F2F2F2;
	padding: 30px;
	border-radius: 4px;
	margin-bottom: 30px;
}

#regras .qa.active {
	border: 1px solid #C8D419;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	margin-bottom: 0;
}

#regras .qa p {
	font-size: 18px;
	line-height: 24px;
	color: #D0D0D0;
	margin: 0;
}

#regras .qa.active p {
	color: #6D767A;
}

#regras .qa .options {
	list-style: none;
	margin: 0;
	margin-top: 20px;
	padding: 0;
}

#regras .qa .options li {
	float: left;
	width: 50%;
}

#regras .qa .answers {
	list-style: none;
	padding: 0;
	margin: 0;
}

#regras .qa .answers li {
	color: #6D767A;
	display: block;
	font-size: 12px;
	text-transform: uppercase;
}


#regras .qa .answers li:last-child {
	margin: 30px 0 -20px;
}

#regras .qa .answers li.green,
#regras .qa .answers li.yellow,
#regras .qa .answers li.red {
	margin-bottom: 20px;
}

#regras .qa .answers li.green:before,
#regras .qa .answers li.yellow:before,
#regras .qa .answers li.red:before {
	content: '';
	display: block;
	float: left;
	width: 24px;
	height: 24px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 20px;
}

#regras .qa .answers li.green:before { background-image: url(./../img/mini_icon_results_green.svg); }
#regras .qa .answers li.yellow:before { background-image: url(./../img/mini_icon_results_yellow.svg); }
#regras .qa .answers li.red:before { background-image: url(./../img/mini_icon_results_red.svg); }


#regras .qa .button {
	background-color: #F2F2F2;
	border-radius: 100px;
	color: #D0D0D0;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 14px 50px 13px;
	display: inline-block;
	width: calc(100% - 20px);
	cursor: default;
}

#regras .qa .button.active {
	color: #FFF;
	background-color: #56BAA2;
}

#regras .qa.active .button {
	border: 1px solid #00A591;
	color: #00A591;
	background-color: #FFF;
	cursor: pointer;
}

#regras .qa.active .button:hover {
	background-color: rgba(0, 165, 145, 0.2)
}

/* LITY */

.lity-close {
	display: none;
}

/* ----- MOBILE ----- */

@media only screen and (min-width: 768px) {

	.lity-active body {
		overflow: hidden;
	}
	.lity-inline .lity-content > * {
		max-height: none !important;
	}
	.lity-inline .lity-wrap {
		overflow: auto;
	}
	.lity-inline .lity-content {
		margin: 30px 0;
	}

	#nav .mobile,
	.view .container .header .back,
	.view .container .header .menu {
		display: none;
	}

	#iniciativas h2 {
		max-width: 220px;
	}

}

@media only screen and (max-width: 767px) {


	
	.lity-container {
		width: 100%;
		height: 100%;
	}

	.lity-inline .lity-content {
		margin: 0;
	}

	#nav .menu,
	.lity-close,
	.view .container .header .close {
		display: none;
	}

	.view {
		border-radius: 0;
		width: 100%;
		height: 100%;
		overflow-y: auto;
	}

	.view .container .header {
		padding: 20px;
	}

	.view .container .header .back {
		margin-right: 20px;
	}
	
	.view .container .header h2 {
		font-size: 18px;
		font-weight: 400;
		margin-top: 2px;
	}

	.view .container .content {
		padding: 20px;
	}

	#menu .close {
		display: inline-block;
	}

	#menu .menu li {
		padding: 10px 0;	
	}

	#menu .menu li a {
		font-size: 18px;
		font-weight: bold;
		color: #6D767A;
		text-decoration: none;
	}

	#video {
		width: initial;
		height: calc(100% + 2px);
	}

	#nav {
		padding: 20px;
	}

	#nav .logo {
		width: 95px;
		height: 16px;
		margin-top: 4px;
	}
	
	#hero .box {
		padding: 80px 20px;
	}

	#hero h1 {
		margin: 30px auto 0;
		font-size: 24px;
	}

	#hero .box .button {
		border: 1px solid #FFFFFF;
		font-size: 12px;
		line-height: 14px;
		padding: 14px 30px 13px;
		margin: 20px 0 50px;
		height: initial;
	}

	#hero .box .button:after{ display: none; }

	#iniciativas .box {
		width: 100%;
		padding: 50px 30px;
		text-align: center;
	}
	
	#iniciativas .box.externas {
		background-color: #00A591;
	}
	
	#iniciativas h2 {
		font-size: 24px;
	}
	
	#iniciativas p {
		margin: 10px 0 20px;
	}
	
	#hero .box .button:after{ display: none; }

	#iniciativas .box {
		width: 100%;
		padding: 50px 30px;
		text-align: center;
	}

	#iniciativas .button {
		font-size: 12px;
		line-height: 14px;
		padding: 14px 60px 13px;
		margin: 0;
		height: initial;
	}
	
	#iniciativas .button:after{ display: none; }
	
	#iniciativas .externas .button {
		border: 1px solid #FFFFFF;
	}
	
	#iniciativas .internas .button {
		border: 1px solid #6D767A;
	}

}
